.col-12{

    border: 1px solid black;
}

.navbar{
    background-color: antiquewhite;
   
}

.nav-link{
    color: green !important;
}

.nav-link:hover{
    color: aliceblue;
}

.navbar-nav{
    text-align: center;
}

.sin{
    padding: 0px;
    
}

@media screen and (min-width: 576px){
   
    
}