@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



h1, h2, h3, h4 {
    font-family: "Yellowtail", serif;
    font-weight: 400;
    font-style: normal;
}

p, a{
    font-family: "Sour Gummy", serif;
    
}

h5 {
    font-family: "Sour Gummy", serif;
    font-size: 2em;
    
}



.navbar {
    background-color: antiquewhite;

}

.nav-link {
    color: green !important;
}

.nav-link:hover {
    color: aliceblue;
}

.navbar-nav {
    text-align: center;
}

.sin {
    padding: 0px;

}

.personal {

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

.textoequipo {
    text-align: center;
}

.fondopie {
    background-color: green;
    color: white;
}

.fondo1 {
    background-color: antiquewhite;

}

.fondo2 {
    background-color: beige;
}

.fotomapa{

    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (min-width: 576px) {

    .personal {
        width: 60%;
        margin: 10% 20% 10% 20%;
    }

    .fotomapa{

        width: 45%;
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 20%;
        margin-bottom: 5%;
        
    }
}

@media screen and (min-width: 768px) {

    .personal {
        width: 80%;
        margin: 10%;
    }

    .fotomapa{

        width: 45%;
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        
    }
}